@import '_media-queries';

.headerNav {
    @include smallPhones {
        .navbar {            
            &__logo {
                font-size: 20px;
                line-height: 112px;
                height: 100%;
                width: 30%;

            }

            .navbar-toggler {
                border: none;
                outline: none;
            }

            button {
                margin: 8px;
            }
        }
    }
}