@import '_navbar.scss';
@import '_color';
@import '_media-queries';

body {
    margin: 0;
    padding: 0;
}

.firstMainContainer {
    @include smallPhones {
        margin-top: 0.9em;
        .mainPic {
            width: 100%;
        }
        
        p {
            font-size: 1em;
            padding: 1em;
            letter-spacing: 0.1em;
            line-height: 2em;

            span {
                font-weight: bold;
                text-align: center;
                letter-spacing: 0.2em;
            }
        }
    }
}