@import '_navbar.scss';
@import '_color';
@import '_media-queries';

body {
    margin: 0;
    padding: 0;
}

.firstMainContainer {
    @include smallPhones {
        margin-top: 0.9em;
        .mainPic {
            width: 100%;
        }
        
        p {
            font-size: 1em;
            padding: 1em;
            letter-spacing: 0.1em;
            line-height: 2em;
            text-align: center;

            span {
                font-weight: bold;
                text-align: center;
                letter-spacing: 0.2em;
            }
        }

        .tryBtn  {
            border: none;
            width: 30%;
            height: 2.6em;
            border-radius: 20px;
            background-color: $Dominate;
            color: black;
            font-weight: bold;
            margin-left: auto;
            margin-right:auto;
            margin-top: 30px;
            margin-bottom: 15px;
            display: block;
        }

        .footer {
            position: relative;
            top: auto;
            left: 0;
            bottom: 0;
            width: auto;
            background-color: $Dominate;
            color: black;
            text-align: center;
        }
    }
}